// Removing Home tab from Member's Profile Page
$asm-title-font-color: #024d80;

#buddypress {
  .bp-wrap {
    #item-body {
      .bp-navs.bp-subnavs.user-subnav {
        // display: none;
      }

      //  LEFT COLUMN START

      #item-header-avatar {
        img.avatar {
          // border: 1rem dotted red;
          border-radius: 50%;
        }
        .athlete-title {
          font-size: 1.8rem;
        }
      }

      .athlete-meta {
        // border: 4px dotted red;
        font-weight: 600;
        i.fa-eye {
          font-size: 1.2rem;
          color: deepskyblue;
        }
        i.fa-star {
          font-size: 1.2rem;
          color: orange;
        }
      }

      .athlete-bio {
        .list-group-item {
          // border: 4px dotted red;
          background-color: lighten($color: #e7e7e7, $amount: 8%);
          border-bottom: 4px solid white;
          border-top: 1px solid white;
          border-right: 1px solid white;
          border-left: 1px solid white;
        }
      }

      .athlete-sports-info {
        // border: 4px dotted blue;
        h1 {
          color: #024d80;
          font-size: 2rem;
          text-align: center;
        }
        small {
          font-size: 1rem;
          font-weight: 600;
        }
      }

      //  LEFT COLUMN END

      // CENTER COLUMN START

      .bp-profile-loop {
        display: none;
      }

      #top-video-section {
        // border: 0.3rem dotted red;
        padding-bottom: 2rem;
        border-bottom: 2px solid $cg-primary;

        .block-header {
          font-size: 2rem;
          i.fa-youtube {
            color: lighten($color: $cg-primary, $amount: 20%);
          }
        }
      }

      #about-section {
        // border: 0.3rem dotted limegreen;
        padding-bottom: 2rem;
        border-bottom: 2px solid $cg-primary;

        .block-header {
          font-size: 2rem;
          i.fa-user-circle {
            color: lighten($color: $cg-primary, $amount: 20%);
          }
        }
        .text-content {
          color: lighten($color: $cg-primary, $amount: 10%);
        }
      }

      #sports-info-section {
        // border: 0.3rem dotted sienna;
        padding-bottom: 2rem;
        border-bottom: 2px solid $cg-primary;

        .block-header {
          font-size: 2rem;
          i.fa-trophy {
            color: lighten($color: $cg-primary, $amount: 20%);
          }
        }
        .text-content {
          color: lighten($color: $cg-primary, $amount: 10%);
        }
      }

      #academics-section {
        // border: 0.3rem dotted cyan;
        padding-bottom: 2rem;
        border-bottom: 2px solid $cg-primary;

        .block-header {
          font-size: 2rem;
          i.fa-file-certificate {
            color: lighten($color: $cg-primary, $amount: 20%);
          }
        }
        .text-content {
          color: lighten($color: $cg-primary, $amount: 10%);
          font-weight: 600;
        }
        .school-box {
          background-color: lighten($color: #e7e7e7, $amount: 5%);

          .school-name {
            font-weight: 700;
          }
        }
        .test-score-box {
          .test-score-title {
            font-size: 1.7rem;
          }
        }
      }

      #instagram-section {
        // border: 0.3rem dotted goldenrod;
        padding-bottom: 2rem;
        border-bottom: 2px solid $cg-primary;

        .block-header {
          font-size: 2rem;
          i.fa-instagram {
            color: lighten($color: $cg-primary, $amount: 20%);
          }
        }
        .text-content {
          color: lighten($color: $cg-primary, $amount: 10%);
        }
      }

      #interview-section {
        // border: 0.3rem dotted steelblue;
        padding-bottom: 2rem;
        border-bottom: 2px solid $cg-primary;
      }

      // CENTER COLUMN END

      // RIGHT COLUMN START

      // RIGHT COLUMN END
    }
  }
}
