/**
 *
 * Footer lovehealth
 *
 */

#footer-lovehealth {

	background-color: #f2d1a3;

	.site-info {

		padding: 30px 0px;
		text-align: center;
		font-size: 20px;
		font-family: $secondary-font;
	}

}
